ROYALARM_IT_REDIS_REST_URL=https://YOUR-DATABASE.upstash.io
ROYALARM_IT_REDIS_REST_TOKEN=YOUR_STANDARD_REST_TOKEN
ROYALARM_IT_ADMIN_PASSWORD=YOUR_NEW_STRONG_ADMIN_PASSWORD
ROYALARM_IT_SESSION_SECRET=YOUR_LONG_RANDOM_SESSION_SECRET
ROYALARM_IT_VAPID_PUBLIC_KEY=
ROYALARM_IT_VAPID_PRIVATE_KEY=
